
/*.navbar .dropdown ul,*/
/*.navbar .dropdown .dropdown ul {*/
/*    position: static;!important;*/
/*    display: none;!important;*/
/*    padding: 10px 0;!important;*/
/*    margin: 10px 20px;!important;*/
/*    transition: all 0.5s ease-in-out;!important;*/
/*    background-color: #007466;!important;*/
/*    border: 1px solid #006459;!important;*/
/*}*/

/*.navbar .dropdown>.dropdown-active,*/
/*.navbar .dropdown .dropdown>.dropdown-active {*/
/*    display: block;!important;*/
/*}.navbar .dropdown ul {*/
/*     display: block;!important;*/
/*     position: absolute;!important;*/
/*     left: 28px;!important;*/
/*     top: calc(100% + 30px);!important;*/
/*     margin: 0;!important;*/
/*     padding: 10px 0;!important;*/
/*     z-index: 99;!important;*/
/*     opacity: 0;!important;*/
/*     visibility: hidden;!important;*/
/*     background: #fff;!important;*/
/*     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);!important;*/
/*     transition: 0.3s;!important;*/
/*     border-radius: 4px;!important;*/
/* }*/

/*.navbar .dropdown ul li {*/
/*    min-width: 200px;!important;*/
/*}*/

/*.navbar .dropdown ul a {*/
/*    padding: 10px 20px;!important;*/
/*    font-size: 15px;!important;*/
/*    text-transform: none;!important;*/
/*    font-weight: 600;!important;*/
/*    color: #006a5d;!important;*/
/*}*/

/*.navbar .dropdown ul a i {*/
/*    font-size: 12px;!important;*/
/*}*/

/*.navbar .dropdown ul a:hover,*/
/*.navbar .dropdown ul .active:hover,*/
/*.navbar .dropdown ul li:hover>a {*/
/*}*/

/*.navbar .dropdown:hover>ul {*/
/*    opacity: 1;!important;*/
/*    top: 100%;!important;*/
/*    visibility: visible;!important;*/
/*}*/

/*.navbar .dropdown .dropdown ul {*/
/*    top: 0;!important;*/
/*    left: calc(100% - 30px);!important;*/
/*    visibility: hidden;!important;*/
/*}*/

/*.navbar .dropdown .dropdown:hover>ul {*/
/*    opacity: 1;!important;*/
/*    top: 0;!important;*/
/*    left: 100%;!important;*/
/*    visibility: visible;!important;*/
/*}*/
/*@media (min-width: 1280px) and (max-width: 1366px) {*/
/*    .navbar .dropdown .dropdown ul {*/
/*        left: -90%;!important;*/
/*    }*/

/*    .navbar .dropdown .dropdown:hover>ul {*/
/*        left: -100%;!important;*/
/*    }*/
/*}*/

/*@media (min-width: 1280px) {*/

/*    .mobile-nav-show,*/
/*    .mobile-nav-hide {*/
/*        display: none;!important;*/
/*    }*/
/*}*/


/* header */


:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(220, 68%, 54%);
    --first-color-lighten: hsl(220, 68%, 97%);
    --title-color: hsl(220, 48%, 28%);
    --text-color: hsl(220, 12%, 45%);
    --body-color: hsl(220, 100%, 99%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER ===============*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    background-color: var(--body-color);
    z-index: var(--z-fixed);
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
  }
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
  }
  .nav__logo i {
    font-size: 1.25rem;
  }
  .nav__logo:hover {
    color: var(--first-color);
  }
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
  }
  .nav__toggle-menu, .nav__toggle-close {
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }
  .nav__toggle-close {
    opacity: 0;
  }
  @media screen and (max-width: 1118px) {
    .nav__menu {
      background-color: var(--body-color);
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      padding-block: 1.5rem 4rem;
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .nav__menu::-webkit-scrollbar {
      width: 0.5rem;
    }
    .nav__menu::-webkit-scrollbar-thumb {
      background-color: hsl(220, 12%, 70%);
    }
  }
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  .nav__link:hover {
    background-color: var(--first-color-lighten);
  }
  
  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }
  
  /* Show icon */
  .show-icon .nav__toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
  }
  
  .show-icon .nav__toggle-close {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  /*=============== DROPDOWN ===============*/
  .dropdown__button {
    cursor: pointer;
  }
  .dropdown__arrow {
    font-size: 1.5rem;
    font-weight: initial;
    transition: transform 0.4s;
  }
  .dropdown__content, .dropdown__group, .dropdown__list {
    display: grid;
  }
  .dropdown__container {
    background-color: var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }
  .dropdown__content {
    row-gap: 1.75rem;
  }
  .dropdown__group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
  }
  .dropdown__group:first-child {
    margin-top: 1.25rem;
  }
  .dropdown__group:last-child {
    margin-bottom: 1.25rem;
  }
  .dropdown__icon i {
    font-size: 1.25rem;
    color: var(--first-color);
  }
  .dropdown__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .dropdown__list {
    row-gap: 0.25rem;
  }
  .dropdown__link {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: color 0.3s;
  }
  .dropdown__link:hover {
    color: var(--title-color);
  }
  
  /* Rotate dropdown icon */
  .show-dropdown .dropdown__arrow {
    transform: rotate(180deg);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 300px) {
    .dropdown__group {
      padding-left: 1.5rem;
    }
  }
  /* For large devices */
  @media screen and (min-width: 1118px) {
    /* Nav */
    .nav {
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .nav__toggle {
      display: none;
    }
    .nav__list {
      display: flex;
      column-gap: 3rem;
      height: 100%;
    }
    .nav li {
      display: flex;
    }
    .nav__link {
      padding: 0;
    }
    .nav__link:hover {
      background-color: initial;
    }
    /* Dropdown */
    .dropdown__button {
      column-gap: 0.25rem;
      pointer-events: none;
    }
    .dropdown__container {
      height: max-content;
      position: absolute;
      left: 0;
      right: 0;
      top: 6.5rem;
      background-color: var(--body-color);
      box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .dropdown__content {
      grid-template-columns: repeat(4, max-content);
      column-gap: 6rem;
      max-width: 1120px;
      margin-inline: auto;
    }
    .dropdown__group {
      padding: 4rem 0;
      align-content: baseline;
      row-gap: 1.25rem;
    }
    .dropdown__group:first-child, .dropdown__group:last-child {
      margin: 0;
    }
    .dropdown__list {
      row-gap: 0.75rem;
    }
    .dropdown__icon {
      width: 60px;
      height: 60px;
      background-color: var(--first-color-lighten);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-bottom: 1rem;
    }
    .dropdown__icon i {
      font-size: 2rem;
    }
    .dropdown__title {
      font-size: var(--normal-font-size);
    }
    .dropdown__link {
      font-size: var(--small-font-size);
    }
    .dropdown__link:hover {
      color: var(--first-color);
    }
    .dropdown__item {
      cursor: pointer;
    }
    .dropdown__item:hover .dropdown__arrow {
      transform: rotate(180deg);
    }
    .dropdown__item:hover > .dropdown__container {
      top: 5.5rem;
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
    }
  }
  @media screen and (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
  }














/* products */
h6{
    font-family : 'vazir';
}
span{
    font-family: 'vazir';
}
a{
    
    font-family: 'vazir';
}
button{
    background-color: #fff;
}


.products{
    width: 100%;
    padding: 120px 0;
    font-family: 'vazir';
   
}

.products .product-item{
    border: 1px solid #ffffff;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0 0 7px rgba(195,195,195,.5);
    border-radius: 2rem;
    
}
.products .product-item .product-img{
    position: relative;
}

.products .product-item .product-img .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.products .product-item .product-img .overlay a{
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.products .product-item .product-img:hover .overlay a{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.products .product-item .product-img:hover .overlay{
    opacity: 1;
}

.products .product-item .product-content{
    padding: 15px 0;
   
    
    
}

.products .product-item .product-content .product-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products .product-item .product-content .product-price .old-price{
    color: #c00;
    text-decoration: line-through;
}

.products .product-item .product-content .product-price .new-price{
    color: green;
}

.products .product-item .product-content .product-name{
    text-align: center;
    padding: 10px 0;

}
.products .owl-carousel .owl-nav{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products .owl-carousel button.owl-next,
.products .owl-carousel button.owl-prev{
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}






bi .bi-grid-1x2-fill-heading{
padding: 20px !important;
margin: 20px 
!important;
}



header a i {
    transition: all 0.15s linear;
    transform: scale(0.8);
   
}

header a:hover i {
    transform: scale(1.1);
    
    
}

.p-5{
    padding: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0.5rem !important;
    padding-right: 0rem !important;

}
.my-banner{
width:100%;
    height: 29rem;
}

.container .row .text-center .col-lg-4 :hover {
   
    transition: all 0.4s linear;
    /* transform: scale(1.1); */
   
}


.container .row .text-center:hover{

   
   transform: scale(1.03);
}


.container .row .text-center {
transition: all 0.2s linear ease-in;


}
.w-100{


 /* width: 90% !important ; */
}
.wcs{
    width: 95%;
    height: 95%;
}

.fontir{

    font-family: 'vazir' !important; 
}

.owl-carousel button.owl-next,
 .owl-carousel button.owl-prev,
 .owl-carousel button.owl-next:hover,
 .owl-carousel button.owl-prev:hover{
background-color: black;
    
 }

  button.owl-next{

    background-color: #000;
 }

 button.owl-prev{
background-color: #000;
 }

 .card-body{
    text-align: center !important;
    font-family: 'vazir' !important;
 }





/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'vazir';
  margin-top: 2rem;
 
width: 100%;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}





/* acordion */


.accordion dl dt 
{
    cursor: pointer;
     padding: 0.5em;
      color: #fff;
       transition-duration: 1s;
         background:transparent;
         font-family: 'vazir';
         
        }
.accordion dl dd {display: none; height: auto; margin-left: 0; padding: 1em; }
.accordion-nested {margin: -1em; }
.accordion-nested dl {width: 100%; margin-left: 0; }
.accordion-nested dl dt {background: rgba(8, 71, 9, 0.8)}
.accordion-nested .accordion-nested dl dt {background: rgba(13, 144, 33, 0.6)}
.accordion-nested .accordion-nested .accordion-nested dl dt {background: rgba(132,109,77,.4)}
.accordion-nested .accordion-nested .accordion-nested .accordion-nested dl dt {background: rgba(132,109,77,.2)}



/* products */

.products{
    width: 100%;
    padding: 120px 0;
}

.products .product-item{
    border: 1px solid #f2f2f2;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0 0 7px rgba(195,195,195,.5);
}
.products .product-item .product-img{
    position: relative;
}

.products .product-item .product-img .overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.products .product-item .product-img .overlay a{
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.products .product-item .product-img:hover .overlay a{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.products .product-item .product-img:hover .overlay{
    opacity: 1;
}

.products .product-item .product-content{
    padding: 15px 0;
}

.products .product-item .product-content .product-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products .product-item .product-content .product-price .old-price{
    color: #c00;
    text-decoration: line-through;
}

.products .product-item .product-content .product-price .new-price{
    color: green;
}

.products .product-item .product-content .product-name{
    text-align: center;
    padding: 10px 0;

}
.products .owl-carousel .owl-nav{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products .owl-carousel button.owl-next,
.products .owl-carousel button.owl-prev{
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

/* header */
.header{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}
header .navbar{
    flex-direction: row-reverse;
    padding: 0;
}


header #collapsibleNavbar .navbar-nav .nav-item .nav-link{
    color: #fff;
    padding: 20px 15px;
    opacity: .6;
    font-size: 15px;
}

header #collapsibleNavbar .navbar-nav .nav-item .nav-link.active{
    color: #fff ;
    opacity: 1;
}

header .navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
}
